*{
    margin: 0;
    padding: 0;
}


body{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    color: rgb(14, 90, 65);
}

.card{
    box-shadow: 7px 7px 7px -5px #050505;
}