*{
    margin: 0;
    padding: 0;
}


body{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    color: rgb(14, 90, 65);
}

.card{
    box-shadow: 7px 7px 7px -5px #050505;
}

.card p{
    color: rgb(15, 66, 49);
    font-size: 15px;
    line-height: 1rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 3px;
}

svg {
  cursor: pointer;
  pointer-events: all;
}

svg path {
  pointer-events: none;
}


#cards {
    display: grid;
    grid-template-columns: 1fr; /* mobile */
    gap: 20px;
    justify-items: center;
  }
  

@media (min-width: 1024px) {
    #cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  